
.container{
    padding:20px;
    background-color: rgb(253, 253, 253);;
    width:60%;
    margin:100px auto;
    div.group-search{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #CFCED3;
        height: 60px;
        display: flex;
        text-align: center;
        position: sticky;
        top:0;
        padding: 5px 10px;
        i{
            position: absolute;
            z-index: 2;
            font-size: 20px;
            display: block;
            padding:  0px 15px;
            line-height: 60px;
            pointer-events: none;
        }
        input.form-control{
            border-radius: 10px;
            padding-left: 35px;
            font-size: 20px;
            width:98%;
            height: 70%;
            margin:auto;
            
        }
    }
   div.addContact{
       background-color: #F8F8F8;
       height:50px;
       padding:15px;
       position: sticky;
       top:55px;
       div{
           padding: 15px 0px;
           font-weight: bolder;
       }
     
   }
   div.letters{
       position: sticky;
       top:135px;
       background-color: #F8F8F8;
       padding:15px;

       ul{
           list-style-type: none;
           text-align: center;
       }
       li{
           display: inline;
           letter-spacing: 10px;
           line-height: 30px;
           cursor: pointer;
           
       }
   }
  .table-container{
    table {
        width: 100%;
        tr.mat-header-row{
            display: none;
        }
        td{
            padding: 20px;
            span.name{
                font-size: 15px;
                font-weight: bolder;
                display: block;
            }
            img{
                border:1px solid #A1A1A1;
                border-radius: 50px;
            }
        }
        .btn-status{
            text-align: end;
            mat-icon {
                cursor: pointer;
            }
            mat-icon.success{
                color:rgb(12, 82, 12)
            }
        }
    }
  }
  
}

/* special classes */
.flex-content-between{
    display: flex;
    justify-content:space-between;
}
.flex-content-start{
    display: flex;
    justify-content:flex-start;
}
.m-1{
    margin: 10px;
}

 