
div{
    i{
        display: block;
        font-size: 50px;
        color:red; 
    }
    span{
        padding: 15px 5px 0 0;
    }
}
div{
    display: flex;
    justify-content: space-between;
    button{
     margin-top : 50px;
    }
    button.success{
        background-color: rgb(12, 82, 12);
        color:#fff;
    }
}
